.progress-container {
    width: 100px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    /* чтобы позиционировать внутри */
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #4CAF50, #8BC34A);
    width: 0%;
    /* фиксированная ширина */
    border-radius: 10px;
}