.option-close-btn,
.copyOrRewriteOverlay-close-btn,
.fileNotFound-close-btn {
    cursor: pointer;
    float: right;
    position: relative;
    top: 5px;
    right: 10px;
    left: 90%;
    font-size: 24px;
    line-height: 1;
    padding: 0 10px;
    margin-bottom: 10px;
}

.renameFileOptionOverlay,
.copyOrRewriteOverlay,
.fileNotFoundAlert {
    display: none;
    /* скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.alert-rename-buttons-container,
.alert-buttons-container_copy_or_rewrite,
.alert-buttons-container_fileNotFound {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* Само окно */
.rename_file_Option_popup,
.copyOrRewriteOverlay_popup,
.fileNotFound_popup {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ключевое центрирование */
    background: linear-gradient(135deg, #642800, #4d1800);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    gap: 10px;
}


.rename_file_btn_ok,
.rename_file_btn_no,
.rewriteFileWithNewNameBtn,
.makeCopyWithName,
.alert_btn_copy_or_rewrite {
    /* flex: 1; */
    min-width: 10px;
    /* padding: 10px 20px; */
    font-size: 12px;
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
    text-align: center;
    justify-content: space-between;
}


.rename_file_btn_ok,
.rename_file_btn_no,
.rewriteFileWithNewNameBtn,
.rewriteFileWithNewName,
.makeCopyWithName,
.fileNotFound,
.fileNotFound_btn,
.cancel {
    background-color: #28a745;
    color: #fff;
}

.rename_file_btn_ok:hover,
.rename_file_btn_no:hover,
.rewriteFileWithNewNameBtn:hover,
.rewriteFileWithNewName:hover,
.makeCopyWithName:hover,
.fileNotFound:hover,
.fileNotFound_btn:hover,
.alert_btn_copy_or_rewrite_cancel:hover {
    background-color: #218838;
}

/* .option-close-btn,
.copyOrRewriteOverlay-close-btn {
    cursor: pointer;
    float: right;
} */